@import "tailwindcss";

@theme {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-metal: #2c3930;
    --color-mist: #dcd7c9;
    --color-olive: #18230f;
    --color-mallard: #27391c;
    --color-pea: #255f38;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }
    body {
        background-color: var(--color-olive);
        color: var(--color-mist);
        font-family: "Inter", sans-serif;
    }
    .font-playfair {
        font-family: "Playfair Display", sans-serif;
    }
}

@layer components {
    .glass {
        background-color: color-mix(
            in srgb,
            var(--color-metal),
            transparent 60%
        );
        backdrop-filter: blur(15px);
    }
    .timeline {
        > div {
            position: relative;
            padding-left: 40px;

            &:before {
                content: "";
                position: absolute;
                top: 5px;
                left: 0;
                width: 13px;
                height: 13px;
                background-color: var(--color-pea);
                border-radius: 50%;
            }
            &:after {
                content: "";
                position: absolute;
                top: 18px;
                left: 6px;
                width: 1px;
                height: calc(100% - 8px);
                background-color: var(--color-metal);
            }
            &:last-child:after {
                display: none;
            }
        }
    }
}

@layer utilities {
    @keyframes fade-in {
        from {
            opacity: 0;
            transform: translateY(20px);
            filter: blur(10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
            filter: blur(0);
        }
    }

    @keyframes drift {
        0%,
        100% {
            transform: translate(0, 0);
        }
        25% {
            transform: translate(10px, -25px);
        }
        50% {
            transform: translate(-15px, -20px);
        }
        75% {
            transform: translate(10px, 5px);
        }
    }

    @keyframes beat {
        0% {
            transform: scaleY(0.1);
        }
        100% {
            transform: scaleY(1);
        }
    }

    @keyframes sound-beat {
        0%,
        100% {
            transform: scale(1);
        }
        15% {
            transform: scale(1.15);
        } /* Main sudden thumping beat */
        30% {
            transform: scale(1.05);
        } /* Minor rebound echo */
        45% {
            transform: scale(1.2);
        } /* Second sharp thump */
        70% {
            transform: scale(1);
        } /* Recovery rest period */
    }

    .animate-fade-in {
        animation: fade-in 0.5s ease-out both;
    }
}
